
torch
torchvision
iopath
roma
matplotlib
tqdm
opencv-python
scipy
einops
numpy
jaxtyping
pytorch-lightning
torchmetrics
pyglet<2
timm==0.4.12
huggingface-hub[torch]>=0.22

git+https://github.com/mhamilton723/FeatUp
git+https://github.com/facebookresearch/pytorch3d.git